[Desktop Entry]
Name=AMR Terminal
Comment=Script to split 4 terminal windows and initialze the AMR
Exec=/home/sick/Documents/terminal.sh
Icon=/home/sick/Documents/AMR-cover-img.png
Terminal=true
Type=Application