[Desktop Entry]
Name=AMR Terminal
Comment=Script to split 4 terminal windows and initialze the AMR
Exec=/home/ubuntu/Documents/split_terminal.sh
Icon=/home/ubuntu/Documents/AMR-Icon.png
Terminal=true
Type=Application