<launch>

    <!-- Run the map server --> 
    <arg name="map_file" default="$(find magni_lidar)/maps/sickmap4-ils.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--- Run AMCL --> 
    <include file="$(find magni_navigation1)/launch/amcl_new.launch" />


    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_cloud" args="0 0 0 0 0 0 base_link cloud 20" />


    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find magni_navigation1)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find magni_navigation1)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find magni_navigation1)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find magni_navigation1)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find magni_navigation1)/param/base_local_planner_params.yaml" command="load" />

        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="5.0" />
    <rosparam file="$(find magni_navigation1)/param/costmap_converter_params.yaml" command="load" />
  </node>

</launch> 
